<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for("static", filename='css/main.css')}}">
	</head>
	<body>
    	<header>
    	   <div id='menuWrapper'>
				<div class='menu'>
					<ul>
						<li><a href="{{url_for("inicio")}}">inicio</a></li>
						<li><a href="{{url_for("peliculas")}}">peliculas</a>
							<ul>
								<li><a href="URL del enlace">Pestaña 2.1</a></li>
								<li><a href="URL del enlace">Pestaña 2.2</a></li>
								<li><a href="URL del enlace">Pestaña 2.3</a></li>
								<li><a href="URL del enlace">Pestaña 2.4</a></li>
							</ul>
						</li>
						<li><a href="#">Pestaña 3</a>
							<ul>
								<li><a href="URL del enlace">Pestaña 3.1</a></li>
								<li><a href="URL del enlace">Pestaña 3.2</a></li>
								<li><a href="URL del enlace">Pestaña 3.3</a></li>
								<li><a href="URL del enlace">Pestaña 3.4</a></li>
							</ul>
						</li>
						<li><a href="#">Pestaña 4</a>
							<ul>
								<li><a href="URL del enlace">Pestaña 4.1</a></li>
								<li><a href="URL del enlace">Pestaña 4.2</a></li>
								<li><a href="URL del enlace">Pestaña 4.3</a></li>
								<li><a href="URL del enlace">Pestaña 4.4</a></li>
							</ul>
						</li>
					</ul>
					<form action='/search' id='search' method='get' name='searchForm' style='display:inline;'>
					<input id='search-box' name='q' onblur='if (this.value == &quot;&quot;) this.value = &quot;Buscar...&quot;;' onfocus='if (this.value == &quot;Buscar...&quot;) this.value = &quot;&quot;;' size='18' type='text' value='Buscar...'/></form>
				</div>
			</div>
    	</header>
    			<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="{{url_for("static", filename='images/avatar.jpg')}}" alt="" /></span>
						<h1>Esta página esta dedicada al 
							<strong>Estudio Ghibli</strong>
							, por la posibilidad de crearla gracias a su 
							API libre y la facilidad de comprensión de la documentación.
						</h1>
					</header>

				<!-- Main -->
					{% block content %}{% endblock %}
				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<p>&copy; Untitled. All rights reserved. Design: <a href="https://github.com/JMLobato/GhibliProyect">JMLobato</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for("static", filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for("static", filename='js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for("static", filename='js/skel.min.js')}}"></script>
			<script src="{{url_for("static", filename='js/main.js')}}"></script>
    	
	</body>
</html>