{%extends "base.html" %}
{%block title%}Canción{%endblock%}
{%block content%}

<div id="cp_widget_ac4cddb3-d956-484e-8541-0ef8b400df48">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_ac4cddb3-d956-484e-8541-0ef8b400df48"; cpo["_fid"] = "AQHAnTucaIC_";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>New Gallery 2018/5/24</span></noscript>

{%endblock%}