{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<ol id="lista5">
	<li>Perfil</li>
	<ul>
    	<li>Nombre: {{datos["id"]}}</li>
    	<li>Email: {{datos["email"]}}</li>
    	<li>País: {{datos["country"]}}</li>
    </ul>
</ol>
<iframe src="https://open.spotify.com/user/lia.cleimara/playlist/1kLp8FXc4tidYIRwA5qjTY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="float:right;position:relative"></iframe>
<br/><button type="button" class="btn btn-primary btn-sm" style="bottom:5px;">Cerrar Sesión</button>
{% endblock %}
