{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div style="float:left">
	<ol id="lista5">
		<li>Perfil</li>
		<ul>
	    	<li>Nombre: {{datos["id"]}}</li>
	    	<li>Email: {{datos["email"]}}</li>
	    	<li>País: {{datos["country"]}}</li>
	    </ul>
	</ol>
	<br/>
	<a href="{{url_for("salirspotify")}}"><button type="button">Cerrar Sesión</button></a>
</div>
<div style="float:right">
	<iframe src="https://open.spotify.com/embed?uri=spotify:album:49lcv6t0GsJVxcoD8hjgPp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
	</iframe>
</div>
{% endblock %}
