{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<ol id="lista5">
	<li>Perfil</li>
	<ul>
    	<li>Nombre: {{datos["id"]}}</li>
    	<li>Email: {{datos["email"]}}</li>
    	<li>País: {{datos["country"]}}</li>
    </ul>
</ol>
		<form action='/search2' id='search' method='post' name='searchForm' style='display:inline;'>
		<input id='search-box' name='w' onblur='if (this.value == &quot;&quot;) this.value = &quot;Buscar...&quot;;' onfocus='if (this.value == &quot;Buscar...&quot;) this.value = &quot;&quot;;' size='18' type='text' value='Buscar...'/></form>
    <br/><button type="button" class="btn btn-primary btn-sm">Cerrar Sesión</button>
{% endblock %}